$xxxs: 2px;
$xxs: 3px;

$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xl: 30px;

$xxxl: 80px;

$turquoise: #1abc9c;
$green-sea: #16a085;

$emerald: #2ECC71;

$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

$clouds: #ecf0f1;
$silver: #bdc3c7;

$xs-screen-max: 767px;
$sm-screen-min: 768px;
$sm-screen-max: 991px;
$md-screen-min: 992px;
$md-screen-max: 1199px;
$lg-screen-min: 1200px;

$iphone5-max-width: 320px;
$iphone5-max-height: 568px;
